<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- This is just for me to code against, it's not actually tested as a goal!  Template's output differ too much in subtle ways. -->
<!-- Version 1.0 of this test document -->
  <head>
    <title>This is a sample page</title>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  </head>
  <body>
    <!-- Headers -->
    <h1>My First Website</h1>
    <h2>A Tragedy</h2>

    <!-- A lovely little table -->
    <h3>Colors</h3>
    <table>
      <tr>
        <th>Warm colors</th>
        <th>Cool colors</th>
      </tr>
      <tr>
        <td>Red</td>
        <td>Blue</td>
      </tr>
      <tr>
        <td>Orange</td>
        <td>Green</td>
      </tr>
      <tr>
        <td>Yellow</td>
        <td>Violet</td>
      </tr>
    </table>

    <!-- Stupid little PHP feedback form from your first website -->
    <h3>Feedback</h3>
    <form action="/feedback.php" method="post">
      <fieldset>
        <legend>Submit Feedback</legend>
        <p>
          <label for="name_field">Name:</label>
          <input type="text" id="name_field" name="name" />
        </p>
        <p>
          <label for="email_field">E-mail:</label>
          <input type="text" id="email_field" name="email" />
        </p>
        <p>
          <label for="comments_field">Comments:</label>
          <textarea id="comments_field" name="comments" cols="20" rows="5"></textarea>
        </p>
        <input type="submit" value="Submit"/>
      </fieldset>
    </form>
    
    <!-- Unordered list of links with inline style -->
    <h3>Unhelpful links</h3>
    <ul class="resources" style="display:inline;">
      <li>
        <a href="/more_information.php">More Information</a>
      </li>
      <li>
        <a href="/less_information.php">Less Information</a>
      </li>
      <li>
        <a href="http://www.google.com/">The Google</a>
      </li>
    </ul>

    <!-- Ordered list of pictures -->
    <h3>Gallery</h3>
    <ol class="pictures">
      <li><img src="/img/puppy.jpg" alt="Puppy" /></li>
      <li id="favorite_pic"><img src="/img/kitty.jpg" alt="Kitty" /></li>
      <li><img src="/img/t-rex.jpg" alt="Tyrannosaurus Rex" /></li>
      <li><img src="/img/hamster.jpg" alt="Hamster" /></li>
    </ol>

    <!-- Tabs -->
    <h3>Tabs</h3>
    <div class="tabs">
      <ul>
        <li><a href="#tab1">Stuff</a></li>
        <li><a href="#tab2">Things</a></li>
        <li><a href="#tab3">Miscellaneous</a></li>
        <li><a href="#tab3">Paraphernalia</a></li>
      </ul>

      <div id="tab1"></div>
      <div id="tab2"></div>
      <div id="tab3"></div>
    </div>

    <!-- Google tracking info -->
    <script type="text/javascript">
      <![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      ]]>
    </script>
    <script type="text/javascript">
      <![CDATA[
        try {
          var pageTracker = _gat._getTracker("UA-123456-78");
          pageTracker._trackPageview();
        } catch(err) {}
      ]]>
    </script>
  </body>
</html>
  
